@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #presupuesto-pdf,
  #presupuesto-pdf * {
    visibility: visible;
  }
  #presupuesto-pdf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
